
.btn-primary{
    background-color: crimson;
    border-color: crimson;
}

.btn-secondary{
    background-color: gold;
    border-color: gold;
}

.bg-warning{
    background-color: gold;
    color: white;
    border-radius: .25rem;
    padding: .35rem;
    align-content: center;
}

.form-control-sm{
        border-width: 0.5px;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: crimson !important;
    border-color: crimson !important;
}


.btn-primary.selected{
    background-color: slategray !important;
    border-color: slategray !important;

}

.subscribe>.btn-primary>.d {
  display: none;
}

.subscribe>.btn-primary.selected>.d {
  display: initial;
}

.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28218,165,32, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}