<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/index.css">
    <script type="module" src="../js/subscribe.js"></script>

    <title>ghanabills | About </title>
</head>
<body >
<main>
    <div class="container">
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark" style="background-color: white">
      <a class="navbar-brand" href="/" style="color: darkgoldenrod">ghanabills</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('bills') }}" style="color: darkgoldenrod">Search Bills <span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('documentation') }}" style="color: darkgoldenrod">Developer</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}" style="color: darkgoldenrod">About</a>
          </li>
        </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a href="https://twitter.com/ghanabills?ref_src=twsrc%5Etfw" class="nav-link twitter-follow-button" data-show-count="false">Follow @ghanabills</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
        </ul>
        <form class="subscribe form-row my-2 my-lg-0" style="padding-left: 10px">
        <input class="form-control-sm mr-sm-2" type="search" placeholder="Type your email here." aria-label="Search">
        <button type="submit" class="btn-sm btn-primary mb-2">Subscribe<span class="d">d</span></button>
    </form>
      </div>

    </nav>
    </div>
<div id="wrapper" class="col-6 container about">
    <div class="main-content">
        <img class="me-image rounded float-left" src="../img/me.jpg" alt="News Photo [100%x225]" data-holder-rendered="true">
            <div class="main-content-text"><h1 style="color: crimson"> About </h1>
            <p style="font-size: 1.2em;">Hi! My name is <a href="https://linkedin.com/in/kwesi-afrifa" target="_blank">Kwesi Afrifa</a>, and I'm an 18 year old freshman at <a href="http://web.mit.edu" target="_blank">MIT</a>
            studying <a href="http://catalog.mit.edu/interdisciplinary/undergraduate-programs/degrees/urban-science-planning-computer-science/" target="_blank">Computer and Urban Science</a>. I made this website to provide easy, unfiltered access to the nation's
            bills of parliament and to encourage informed discussion and debate surrounding policy in Ghana. Hope you enjoy!</p>
            <p style="font-size: 1.0em">This is a beta version, so feel free to send feedback, questions or suggestions for new features to my <a href="mailto:kwesi@mit.edu?subject=Feedback on ghanabills website">email address</a>.
                            <p style="font-size: 1.0em">Connect with me on <a href="https://linkedin.com/in/kwesi-afrifa" target="_blank">LinkedIn</a>, <a href="https://twitter.com/kwesiafrifa?lang=en" target="_blank">Twitter</a>, or <a href="https://www.instagram.com/kwesiafrifa/?hl=en" target="_blank">Instagram</a>. Alternatively, view my other projects <a href="http://github.com/kwesiafrifa" target="_blank"> here.</a></p>
                           <p>All bills scraped from <a href="http://parliament.gh" target="_blank">parliament.gh</a>.</p>
        </div>

    </div>
</div>


    <div class="card-group" style="padding-top: 30px">
    <div class="container">
    <div class="row card-columns custom-columns">
        <div class="col-md-4">
        <div class="card text-white mb-3" style="max-width: 22rem; background-color: slategray">
        <div class="card-header pane-header"><b>Updates, (v0.5) (25/07): </b></div>
        <div class="card-body">
                <p class="pane-body">1. Added ordering of bills by number of news hits.</p>

                <p class="pane-body">2. Added in bills from 2010, 2013, and 2014.</p>

                <p class="pane-body">3. Optimized for most mobile devices</p>

                <p class="pane-body">4. Tweet bill hashtag from within bill pane.</p>

            <p class="pane-body">5. Subscribe to receive emails about new bills.</p>
  </div>
        </div>
        </div>
            <div class="col-md-4">
        <div class="card text-white mb-3" style="max-width: 22rem; background-color: slategray">
        <div class="card-header pane-header"><b>Upcoming features (v0.6): </b></div>
        <div class="card-body">

                <p class="pane-body">1. Ability to group bills by topic.</p>

             <p class="pane-body">2. Adding in bill topic tags.</p>

            <p class="pane-body">3. Optimize for mobile viewing on small-screen devices.</p>

  </div>
</div>
    </div>
        <div class="col-md-4">
        <div class="card text-white mb-3 variable-center" style="max-width: 22rem;background-color: slategray">
        <div class="card-header pane-header"><b> Report issues!</b></div>
        <div class="card-body">
                <form  method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Name (if desired): </label>
                    <input type="text" name ="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                 <label for="exampleFormControlTextarea1" style="padding-bottom: 3px">Please give a brief description of the issue.</label>
                <textarea name="body" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
         </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

        </div>
        </div>
        </div>
    </div>
</body>
</html>
