<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet"  href="../css/index.css">
    <link rel="stylesheet" href="../css/bills.css">
    <script type="module" src="../js/subscribe.js"></script>



    <script>
        var bill_name = {{title|tojson|safe}}

         function requestData(url, onResponse) {
        const xhr = new XMLHttpRequest();
        xhr.open(`GET`, url, true);
        xhr.onreadystatechange = () => {
            if (xhr.readyState !== 4) return;
            if (xhr.status !== 200) onResponse(null);
            else onResponse(xhr.responseText);
        };
        xhr.send();
    }

    function populatePage(){
        const page = document.querySelector('.container-2')


        page.querySelector(".title").innerHTML = bill_name

        requestData(`/data.json`, (responseText) => {
            data = JSON.parse(responseText)
             for(let a = 0; a < data.length; a++){
                 if (data[a].bill_name === bill_name){
                     page.querySelector(".author").innerHTML = data[a].bill_writer
                     page.querySelector(".title").href = data[a].bill_pdf_link
                     page.querySelector('.twitter-hashtag-button').href = data[a].bill_tweet
                 }
             }
        })
        return page
    }

    document.addEventListener("DOMContentLoaded", function(event) {
         populatePage()
        if (bill_name === "None"){
            window.history.back()
        }

    })

    </script>

<title>Bill | {{title}}</title>
</head>
<body>
    <div class="container">
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark" style="background-color: white">
      <a class="navbar-brand" href="/" style="color: darkgoldenrod">ghanabills</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('bills') }}" style="color: darkgoldenrod">Search Bills <span class="sr-only">(current)</span></a>
          </li>
             <li class="nav-item">
                <a class="nav-link" href="{{ url_for('documentation') }}" style="color: darkgoldenrod">Developer</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}" style="color: darkgoldenrod">About</a>
          </li>
        </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a href="https://twitter.com/ghanabills?ref_src=twsrc%5Etfw" class="nav-link twitter-follow-button" data-show-count="false">Follow @ghanabills</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
        </ul>
        <form class="subscribe form-row my-2 my-lg-0" style="padding-left: 10px">
        <input class="form-control-sm mr-sm-2" type="search" placeholder="Type your email here." aria-label="Search">
        <button type="submit" class="btn-sm btn-primary mb-2">Subscribe<span class="d">d</span></button>
    </form>
      </div>

    </nav>
    </div>
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Forum</h1>
          <p class="lead text-muted">Discussions related to the {{title}}.</p>
          <p>
            <a href="{{ url_for('bills') }}" class="btn btn-primary my-3">All Bills</a>
              <a href="/" class="btn btn-secondary my-3" >Back to Home</a>

          </p>
        </div>
      </section>

    <div class="container container-2">

            <h4><a class="title" style="color: black" target="_blank" href="#"></a></h4>

        <div class="writer" style="padding-bottom: 15px">
            <a class="author" style="color: crimson" ></a>
            <a href="https://twitter.com/intent/tweet?button_hashtag=ICAGBill&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false" style="padding-top: 10px; padding-left: 10px">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = "https://ghanabills.com/forum/" + bill_name;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = bill_name; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://ghanabills-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    </div>

</body>
</html>
